Package: com.michaelmelita1.interactivesiri
Version: 0.0.2
Architecture: iphoneos-arm
Maintainer: Michael Melita
Depends: mobilesubstrate, firmware (>= 14.0)
Section: Tweaks
Description: InteractiveSiri
Author: Michael Melita
Name: InteractiveSiri
