Package: com.michaelmelita1.interactivesiri
Version: 0.1
Architecture: iphoneos-arm64
Maintainer: michaelmelita1
Depends: mobilesubstrate, firmware (>= 14.0)
Section: Tweaks
Description: InteractiveSiri
Author: michaelmelita1
Name: InteractiveSiri
