Package: com.michaelmelita1.interactivesiri
Version: 0.2
Architecture: iphoneos-arm64
Maintainer: michaelmelita1
Depends: mobilesubstrate, firmware (>= 15.0)
Section: Tweaks
Description: InteractiveSiri
Author: michaelmelita1
Name: InteractiveSiri
Sileodepiction: https://michaelmelita1.github.io/sileodepictions/com.michaelmelita1.interactivesiri/info.json
